<div class="position-absolute top-50 start-50 translate-middle">
    <p class="fs-4 fw-semibold mb-6">Fill out the return form</p>
<form>
    <div class="row g-8 align-items-center">
        <div class="mb-3">
            <label for="orderId" class="form-label">Order Id</label>
            <input type="number" class="form-control" id="orderId">
        </div>
        <div class="mb-3">
            <label for="product" class="form-label">Product name</label>
            <input type="text" class="form-control" id="product">
        </div>
        <div class="mb-3">
            <label for="reason" class="form-label">Reason for return</label>
            <textarea type="text" class="form-control" id="reason"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<a class="nav-link" routerLink="/" routerLinkActive="active">Back</a>
</div>